@model SchoolPlanner.Models.SchoolActivity

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link href="@Url.Content("~/css/editStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/js/actCreate.js")" type="text/javascript"></script>
}

<h1>Create</h1>

<h4>SchoolActivity</h4>
<hr />

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputRoom">Select Room</label>
    </div>
    <select class="custom-select" id="inputRoom">
    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroup">Select Group</label>
    </div>
    <select class="custom-select" id="inputGroup">
    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputClass">Select Class</label>
    </div>
    <select class="custom-select" id="inputClass">
    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputSlot">Select Slot</label>
    </div>
    <select class="custom-select" id="inputSlot" disabled>
    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputTeacher">Select Teacher</label>
    </div>
    <select class="custom-select" id="inputTeacher">
    </select>
</div>

<button id="button_save" type="button" class="btn btn-primary btn-lg btn-block">Add Activity</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>
