@model SchoolPlanner.Models.PlannerData
@{
    ViewData["Title"] = "Planner";
}

@section Styles {
    <link href="@Url.Content("~/css/tableStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/js/table.js")" type="text/javascript"></script>
}

<div class="d-flex flex-row">
    <div class="p-2"><h2 class="text-info">Room:</h2></div>
    <div class="p-2 dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.currentRoom</a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            @foreach (var item in Model.Rooms)
            {
                <a class="dropdown-item">@item.RoomNumber</a>
            }
        </div>
    </div>
</div>


<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th style="width: 10%">Time</th>
            <th style="width: 15%">Monday</th>
            <th style="width: 15%">Tuesday</th>
            <th style="width: 15%">Wednsday</th>
            <th style="width: 15%">Thursday</th>
            <th style="width: 15%">Friday</th>
        </tr>
    </thead>
    <tr>
        <th scope="row" style="width: 12%">8:00-8:45</th>
        <td id="1" style="width: 15%"></td>
        <td id="2" style="width: 15%"></td>
        <td id="3" style="width: 15%"></td>
        <td id="4" style="width: 15%"></td>
        <td id="5" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">8:55-9:40</th>
        <td id="6" style="width: 15%"></td>
        <td id="7" style="width: 15%"></td>
        <td id="8" style="width: 15%"></td>
        <td id="9" style="width: 15%"></td>
        <td id="10" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">9:50-10:35</th>
        <td id="11" style="width: 15%"></td>
        <td id="12" style="width: 15%"></td>
        <td id="13" style="width: 15%"></td>
        <td id="14" style="width: 15%"></td>
        <td id="15" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">10:45-11:30</th>
        <td id="16" style="width: 15%"></td>
        <td id="17" style="width: 15%"></td>
        <td id="18" style="width: 15%"></td>
        <td id="19" style="width: 15%"></td>
        <td id="20" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">11:40-12:25</th>
        <td id="21" style="width: 15%"></td>
        <td id="22" style="width: 15%"></td>
        <td id="23" style="width: 15%"></td>
        <td id="24" style="width: 15%"></td>
        <td id="25" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">12:35-13:20</th>
        <td id="26" style="width: 15%"></td>
        <td id="27" style="width: 15%"></td>
        <td id="28" style="width: 15%"></td>
        <td id="29" style="width: 15%"></td>
        <td id="30" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">13:30-14:15</th>
        <td id="31" style="width: 15%"></td>
        <td id="32" style="width: 15%"></td>
        <td id="33" style="width: 15%"></td>
        <td id="34" style="width: 15%"></td>
        <td id="35" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">14:25-15:10</th>
        <td id="36" style="width: 15%"></td>
        <td id="37" style="width: 15%"></td>
        <td id="38" style="width: 15%"></td>
        <td id="39" style="width: 15%"></td>
        <td id="40" style="width: 15%"></td>
    </tr>
    <tr>
        <th scope="row" style="width: 12%">15:20-16:05</th>
        <td id="41" style="width: 15%"></td>
        <td id="42" style="width: 15%"></td>
        <td id="43" style="width: 15%"></td>
        <td id="44" style="width: 15%"></td>
        <td id="45" style="width: 15%"></td>
    </tr>
    <tbody>
    </tbody>
</table>


